* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background-color: #080808;
}

header {
    padding: 20px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header p {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

header p:hover {
    font-size: 25px;
    transition: 0.2s;
}

header span {
    color: #ff7f00;
}

a {
    margin-right: 40px;
}

.display-page {
    display: inline-flex;
}

.head-text {
    margin-top: 200px;
    margin-left: 100px;
    font-size: 60px;

}

.head-text p,
h4 {
    font-size: smaller;
}

.head-text h4 {
    margin-left: 100px;
}

.head-text h1 span {
    color: #ff004f;
}

.img img {
    height: 400px;
    width: 320px;
    border: none;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 190px;
    margin-bottom: 60px;
    box-shadow: 0 0 20px rgb(131, 131, 131);
}

.about_container {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.about_title {
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ff004f;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.about_subtitle {
    margin: 100px;
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
}

.about_subtitle span {
    color: #ff004f;
}

.about_container button {
    align-items: center;
    width: 180px;
    background-color: #ff004f;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
}

.about_container button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ff2469,
        0 0 10px #fff;
}

.skills_container {
    padding: 100px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}

.skill_title {
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ff004f;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.skill_subtitle1 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.fun_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fun_img img {
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.skill_subtitle2 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.webdev {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.webdev img {
    background-color: #e1e1e1;
    border-radius: 15%;
    height: 150px;
    width: 120px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.contact_container {
    margin-top: 50px;
    padding: 100px;
    text-align: center;
}

.contact_title {
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ff004f;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.contact_subtitle {
    font-size: 20px;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}

.form_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin: 30px 300px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
}

form input {
    display: block;
    height: 50px;
    width: 400px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 7px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300px;
}

form textarea {
    width: 400px;
    padding-left: 10px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 7px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300px;
}

::placeholder {
    color: #e5e5e5;
}

.form_container button {
    margin-top: 50px;
    padding: 15px 0;
    width: 130px;
    align-items: center;
    color: #fff;
    background-color: #ff004f;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
}

.form_container button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ff2469,
        0 0 10px #fff;
}

footer {
    position: relative;
    bottom: 0;
}

.footer_name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 100px;
}

.footer_about {
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 100px;
}

.footer_last {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}